<h1>ABISUA XEHETASUNEKIN</h1>
	<label class="text">Mota:</label>
	<input type="text" name="mota" id="mota" readonly class="textBox" value=<%= @abisua["mota"] %>><br><br><br>
	<label class="text">Data:</label>
	<input type="text" name="data" id="data" readonly class="textBox" value=<%= @abisua["data"] %>><br><br><br>
	<label class="text">Probintzia:</label>
	<input type="text" name="probintzia" id="probintzia" readonly class="textBox" value=<%= @abisua["probintzia"] %>><br><br><br>
	<label class="text">Hiria:</label>
	<input type="text" name="hiria" id="hiria" readonly class="textBox" value=<%= @abisua["hiria"] %>><br><br><br>
	<label class="text">Errepidea:</label>
	<input type="text" name="errepidea" id="errepidea" readonly class="textBox" value= <%= @abisua["errepidea"] %>><br><br><br>
	<label class="text">Iruzkina:</label>
	<textarea class="textBox" name="iruzkina" id="iruzkina" rows="5" cols="100" readonly><%= @abisua["iruzkina"] %></textarea><br><br><br><br><br><br>
	<input type="button" id="itzuli" name="itzuli" value="Itzuli" onclick="javascript:window.location.href='/abisuak'" class="text"></input>
	<input type="button" class="textBox" value="Abisua igo" onclick="javascript:window.location.href='/abisuaIgo'"></input>