
 <html>
  <head>
    <title><%=@page_title%></title>
    <link rel='stylesheet' type='text/css' href='<%= url('/style.css') %>'>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
  </head>

  <body style="background-color: rgb(153, 204, 255);">

    <div id='container'>

      <div id='header'>
        <a href='/'><img src='/Social-Drive.png' alt='logo image' class='logo' style="background-color: rgb(153, 204, 255);" /></a>
        <a href=<%= @esteka1 %> class='nav'><%= @izen1 %></a>
        <a href=<%= @esteka2 %> class='nav'><%= @izen2 %></a>
      </div>

      <div id='main'>
        <%=yield%>
      </div>

      <div id='footer' style="border-radius: 5px;">
        © Sosial Drive

    </div>

  </body>
  </html>